<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/home/home.css" type="text/css">
    <link rel="stylesheet" href="/public/styles/home/slider.css" type="text/css">
    <link rel="stylesheet" href="/public/styles/home/products.css" type="text/css">
    <link rel="stylesheet" href="/public/styles/signed/home.css">
    <link rel="stylesheet" href="/public/styles/home/footer.css">
    <link rel="stylesheet" href="/public/styles/cart/cart.css">
    <title>Document</title>
    <style>
        .delete-input {
            display: none;
        }
    </style>
</head>

<body>
    <div class="nav ">
        <div class="logo">
            <h1>
                <a href="/signed">Tienda Jaled (?</a>
            </h1>
        </div>
        <div class="user">
            <h2>
                Bienvenido! <%- req.user[0].nombre%>
            </h2>
        </div>
    </div>
    <div class="">
        <div class="bg-secondary opacity-75 text-light profileNav">
            <p class="m-1"><a href="/profile" class="link-light">Mi perfil</a></p>
            <p class="m-1"><a href="/cart" class="link-light">Carrito</a></p>
            <p class="m-1"><a href="/history" class="link-light">Compras anteriores</a></p>
            <p class="m-1"><a href="/logout" class="link-light">Cerrar sesión</a></p>
        </div>
    </div>
    <div class="cart-wrapper">
        <div class="cart">
            <% if(productos.length> 0){ %>
                <% productos.forEach(prod=> { %>
                    <% if(prod.cantidad> 0) { %>
                        <div class="cart-prodinfo">
                            <img src="/public/imgs/productpics/<%=prod.imagen %>" class="prod-img">
                            <h3>
                                <%= prod.nombre %>
                            </h3>
                            <form action="/deletefromcart" method="post">
                                <input value="<%=prod.prodId%>" class="delete-input" name="id">
                                <button class="delete-from-cart">🗑</button>
                            </form>
                            <h2>
                                <%= prod.cantidad %>
                            </h2>
                            <h2> $<%= new Intl.NumberFormat('arg').format(prod.precio) %>
                            </h2>
                        </div>
                        <%}%>
                            <% }) %>
                                <% }else{ %>
                                    <h2>
                                        No hay productos
                                    </h2>
                                    <% } %>
        </div>
        <div class="cart-total">
            <h2>
                <strong>Total:</strong> $<%-total ?new Intl.NumberFormat('arg').format(total) : 0 %>
            </h2>
        </div>
        <% if(productos.length> 0){ %>
            <div class=" cart-comprar">
                <form action="/neworder" method="post">
                    <button class="cart-comprar-btn">
                        Comprar
                    </button>

                </form>
                <% } else { %>

                    <% } %>
            </div>
    </div>
    <%- include("./footer.ejs")%>
</body>