<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/home/home.css" type="text/css">
    <link rel="stylesheet" href="/public/styles/home/slider.css" type="text/css">
    <link rel="stylesheet" href="/public/styles/home/products.css" type="text/css">
    <link rel="stylesheet" href="/public/styles/signed/home.css">
    <link rel="stylesheet" href="/public/styles/home/footer.css">
    <link rel="stylesheet" href="/public/styles/profile/profile.css">
    <title>Document</title>
</head>

<body>
    <div class="nav ">
        <div class="logo">
            <h1>
                <a href="/signed">Tienda Jaled (?</a>
            </h1>
        </div>
        <div class="user">
            <h2>
                Bienvenido! <%- req.user[0].nombre%>
            </h2>
        </div>
    </div>
    <div class="">
        <div class="bg-secondary opacity-75 text-light profileNav">
            <p class="m-1"><a href="/profile" class="link-light">Mi perfil</a></p>
            <p class="m-1"><a href="/cart" class="link-light">Carrito</a></p>
            <p class="m-1"><a href="/history" class="link-light">Compras anteriores</a></p>
            <p class="m-1"><a href="/logout" class="link-light">Cerrar sesión</a></p>
        </div>
    </div>
    <div class="profile-header">
        <h2>
            Mis datos
        </h2>
        <img src="/public/imgs/profilepics/<%-req.user[0].foto%>">
    </div>
    <div class="profile-wrapper">
        <div class="profile-userdata">
            <div>
                <p><strong>Nombre</strong></p>
                <input value="<%- req.user[0].nombre %> <%- req.user[0].apellido%>" class="profile-input" disabled>
            </div>
            <div>
                <p><strong>Email</strong></p>
                <input value="<%- req.user[0].email%>" class="profile-input" disabled>
            </div>
            <div>
                <p><strong>Direccion</strong></p>
                <input value="<%- req.user[0].direccion%>" class="profile-input" disabled>
            </div>
            <div>
                <p><strong>Teléfono</strong></p>
                <input value="<%- req.user[0].telefono%>" class="profile-input" disabled>
            </div>
            <div>
                <p><strong>Fecha de Nacimiento</strong></p>
                <input value="<%- req.user[0].fechanacimiento %>" class="profile-input" disabled>
            </div>

        </div>
    </div>
    <%- include("./footer.ejs") %>
</body>

</html>