<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/styles/home/home.css" type="text/css">
    <link rel="stylesheet" href="/public/styles/home/slider.css" type="text/css">
    <link rel="stylesheet" href="/public/styles/home/products.css" type="text/css">
    <link rel="stylesheet" href="/public/styles//product/singleproduct.css">
    <link rel="stylesheet" href="/public/styles/signed/home.css">
    <link rel="stylesheet" href="/public/styles/home/footer.css">

    <script src="https://kit.fontawesome.com/d719a77ba7.js" crossorigin="anonymous"></script>
    <title>Bienvenido</title>
</head>

<body>
    <div class="nav ">
        <div class="logo">
            <h1>
                <a href="/signed">Tienda Jaled (?</a>
            </h1>
        </div>
        <% if (req.length> 0){ %>
            <div class="user">
                <h2>
                    Bienvenido! <%- req.user[0].nombre%>
                </h2>
            </div>

            <% } else { %>
                <div class="register">
                    <a href="/signup">
                        <i class="fa-solid fa-user fa-lg opacity-75 mb-1"></i>
                        <h4>Inicia sesión</h4>
                    </a>
                </div>
                <% } %>
    </div>
    <div class="">
        <div class="bg-secondary opacity-75 text-light profileNav">
            <p class="m-1"><a href="/profile" class="link-light">Mi perfil</a></p>
            <p class="m-1"><a href="/cart" class="link-light">Carrito</a></p>
            <p class="m-1"><a href="/history" class="link-light">Compras anteriores</a></p>
            <p class="m-1"><a href="/logout" class="link-light">Cerrar sesión</a></p>
        </div>
    </div>
    <div class="single-prod-wrapper">
        <% if(product) { %>
            <div class="prod-img">
                <img src="/public/imgs/productpics/<%-product.imagen%>">
            </div>
            <div class="prod-info">
                <h2><%-product.nombre%></h2>
                <h1>$<%= new Intl.NumberFormat('arg').format(product.precio)%>
                </h1>
                <div class="product-btns">
                    <form action="/buynow" method="POST">
                        <input value="<%=product._id%>" name="id" class="hidden">
                        <button class="ahora">Comprar ahora</button>
                    </form>
                    <form class="product-addToCart" action="/addcart" method="POST">
                        <input value="<%=product._id%>" name="id" class="hidden">
                        <button class="agregar" id="">
                            Agregar al carrito
                        </button>
                    </form>
                </div>

            </div>
            <% } else { %>
                <h2>No hay productos con este Id</h2>
                <%}%>
    </div>
    <%- include("./footer.ejs")%>
</body>

</html>